.card {
    @apply p-4 border  border-[#F3E9DC] shadow-sm hover:bg-[#F3E9DC] hover:transform hover:cursor-pointer duration-500 rounded-md w-full;
    background: rgba(255, 241, 196, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-height:100%
    
}

.textbox {
    @apply flex flex-col w-full h-full;
}

.titlebox {
    @apply w-full h-full flex flex-col mb-4 items-center justify-center ;
}

.titlelabel {
    @apply text-xs  pt-2;
    color: #895737;
}


.descriptionbox {
    @apply w-full h-full flex justify-center items-center;
    
}

.description {
    @apply tracking-tight lg:w-11/12 w-5/6 ;
}

.title {
    @apply lg:text-4xl text-3xl tracking-tight font-bold mt-1 truncate;
}

.dates {
    @apply h-full flex flex-row justify-end mt-4 mr-2 text-xs items-end;
    color: #5E3023;
}
