.card {
    @apply p-4 border border-[#F3E9DC] shadow-sm hover:bg-[#F3E9DC] hover:transform hover:cursor-pointer duration-500 rounded-md w-full;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.textbox {
    @apply flex flex-col items-center justify-center w-full h-full;
}

.titlebox {
    @apply w-full flex flex-col items-start truncate;
}

.titlelabel {
    @apply text-xs ;
    color:#895737;
}

.descriptionbox {
    @apply w-full flex items-start;
}

.title {
    @apply text-2xl tracking-tight font-bold mb-4 truncate;
}

.dates {
    @apply flex flex-row justify-center mt-3 text-xs items-center;
    color: #5E3023;
}