.main {
    @apply  w-full flex flex-col items-center justify-center min-h-screen;
    background-color: #F3E9DC;
}

.login {
    @apply text-center pt-10 text-2xl font-bold tracking-tight;
}

.form {
    @apply flex flex-col items-center  py-8 rounded;
    width: 66%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.loginform {
    @apply py-1 rounded-md flex flex-col ;
}



.loginbutton {
    @apply bg-[#583625] px-4 py-3 rounded-lg text-white ;
    width: 20rem;

}
.loginbuttontwo {
    @apply bg-white shadow border text-gray-600 border-gray-100 text-center px-5 py-4 rounded ;
    width: 20rem;
}

.input {
    @apply bg-gray-300 mb-4 bg-opacity-70  focus:bg-white focus:transform duration-500 py-4 px-5 rounded-md;
    width: 20rem;
    outline: none;
}

.inputlabel {
    @apply tracking-tight font-semibold mb-1 text-sm text-gray-600;
}

.two {
    @apply relative my-3;
}

.three {
    @apply absolute inset-0 flex items-center;
}

.four {
    @apply w-full border-t border-gray-300;
}

.five {
    @apply relative flex justify-center text-sm;
}

.six {
    @apply mx-20 px-2 text-gray-600 text-center bg-white;
}

.welcome {
    @apply xl:text-4xl md:text-3xl tracking-tight font-bold ;
}

.introtextbox {
    @apply my-4 md:mb-8;
}

.courseconnect {
    @apply mt-4 tracking-tight font-bold text-gray-500;
}

@screen xs {

}

@screen sm {

}

@screen md {

}

@screen lg {

}

@screen xl {

}

@screen 2xl {

}